<hr>
<% @bulk_discounts.each do |bk_discount| %>
  <div id="bk_discount_<%= bk_discount.id %>">
    <li>Bulk Discount ID: <%= link_to bk_discount.id, merchant_bulk_discount_path(@merchant, bk_discount) %></li>
      <p>Percent Discount: %<%= bk_discount.discount %></p>
      <p>Quantity Threshold: <%= bk_discount.quantity_threshold %> items</p>
  </div>
<% end %>
<br>

<%= link_to "Create a New Bulk Discount", new_merchant_bulk_discount_path(@merchant) %>